<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceMetadata   httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="ServiceBehavior" name="SvcBus.WCFService.Host.SampleService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:10000/SampleService" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="basicHttpBinding"
                    bindingConfiguration="" contract="SvcBus.WCFService.Host.ISampleService" bindingNamespace="http://schemas.dccreative.co.uk/examples/masstransit" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>
</configuration>
