<?xml version="1.0"?>
<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceMetadata   httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="ServiceBehavior" name="SvcBus.WCFService.Services.SampleService">
				<endpoint address="" binding="basicHttpBinding"
                    bindingConfiguration="" contract="SvcBus.WCFService.Services.ISampleService" bindingNamespace="http://schemas.dccreative.co.uk/examples/masstransit" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
